
    <!-- About Content -->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6">
                    <h2 class="fw-bolder">WHO WE ARE?</h2>
                    <p>Welcome to Game & Gear, your ultimate destination for top-quality gaming consoles, smartphones, and PC gadgets. We are passionate about bringing the latest and most advanced technology to gamers and tech enthusiasts worldwide. Our mission is to provide high-performance devices that enhance your gaming and digital experience while ensuring affordability and customer satisfaction.
                         At Game & Gear, we carefully select each product to meet the needs of both casual users and professional gamers. Whether you’re looking for the latest gaming console, a cutting-edge smartphone, or powerful PC accessories, we have you covered. We believe that technology should be accessible to everyone, which is why we offer competitive prices, frequent discounts, and exclusive deals on the best brands in the industry.</p>
                    <a class="btn btn-primary w-100" href="index.html">Go to Home Page</a>
                </div>
                <div class="col-lg-6">
                    <img class="slika-about-us" src="../backend/public/images/about/about-hero.jpg" alt="About Image">
                </div>
            </div>
        </div>
    </section>
    

    

    
    





